extends layout 

block content
  h1= title

  ul
    each bill in bill_list
      li 
        if bill.userId
          a(href=bill.url) #{bill.name} 
          | ($#{bill.amount}) #{bill.userId.first_name} #{bill.userId.last_name}

        else
          a(href=bill.url) #{bill.name} 
          | ($#{bill.amount}) from Unknown

    else 
      li There are no bills.