extends layout 

block content 
  h1 #{title}

  form(method='POST' action='')
    //- the default value for name depends on whether bill is defined or not
    //- if called from a get route, it will be empty as this is a new form
    //- if called from a post route, it will contain the value from the user
    div.form-group
      label(for='name') Bill Name: 
        input#name.form-control(type='text' placeholder="Dinner, Movie, etc" name='name' value = (bill===undefined ? "" : bill.name))
    div.form-group
      label(for='amount') Amount:
        input#amount.form-control(type='text' placeholder="Any Number"
        name='amount' value = (bill===undefined ? "" : bill.amount))
    div.form-group
      label(for='due_date') Due Date:
        input#due_date.form-control(type='date' name="due_date"
        value=(bill===undefined ? "": bill.due_date))
    div.form-group
      label(for='category') Category:
        //- note that because this is a drop down menu
        //- we need to change the input to a select
        select#category.form-control(type='select' name='category' required='true')
          //- also note that placeholder is not a value for select
          //- the first one will be the default value
          option(value="" disabled selected) Select Category
          for category in bill_categories
            option(value=category) #{category}
    button.btn.btn-primary(type='submit') Submit 

  if errors
    ul 
      for error in errors 
        li!= error.msg