extends layout 

block content
  h1= title

  ul
    each payment in payment_list
      li 
        a(href=payment.url) Payment 
        | of ($#{payment.amount}) for #{payment.billId.name} by 
        if payment.userId
          #{payment.userId.first_name} #{payment.userId.last_name}
        else 
          | Unknown User

    else 
      li There are no bills.